:root {
    --section-padding: 2rem;
    --min-project-height: 150px;
    --icon-size: 24px;
    --profile-icon-size: 48px;
    --profile-icon-size-big: 72px;
    --highlight-background-color: #1992d4;
    --highlight-text-color: white;

    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #e2e8f0;
    font-size: 1.6rem;
}

body {
  font-family: Roboto, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.9rem;
    letter-spacing: 0.5px;
}

h3 {
    font-size: 1.7rem;
}

h2 + * {
    margin-top: 1rem;
}

h3 + * {
    margin-top: 0.3rem;
}

button {
    border: none;
}

button > div {
    display: flex;
}

button div {
    height: 100%;
    margin: auto;
    align-content: center;
    text-align: left;
}

.sections.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template: 150px 390px 390px 1fr / 300px 1fr 300px;
    box-sizing: border-box;
}

.sections > .section {
    padding: var(--section-padding) 0 var(--section-padding) var(--section-padding);
    box-sizing: border-box;
}

.sections > .section p {
    color: rgb(128, 128, 128);
}

.section.menu {
    background-color: #1992d4;
    padding-top: 2rem;
    padding-left: 0;
    grid-row: 1 / -1;
    color: white;
}

.section.user-profile {
    background-color: white;
    grid-column: 2 / -1;
}

.section.projects {
    max-height: calc(100vh);
    grid-area: 2 / 2 / -1 / -2;
}

.section.announcements {
    padding-right: var(--section-padding);
    grid-area: 2 / -2 / span 1 / -1;
}

.section.trendings {
    padding-right: var(--section-padding);
    grid-area: 3 / -2 / span 1 / -1;
}

.projects > .project,
.announcements.container,
.trendings.container {
    border-radius: 0.8rem;
    box-shadow: 2.5px 4px 4px rgba(0, 0, 0, 0.15);
}

.project .button:hover,
.user-profile .search:hover,
.user-profile .notifications:hover {
    filter: invert(50%);
}

.project .button:active,
.user-profile .search:active,
.user-profile .notifications:active {
    filter: invert(80%);
}

.profile-item-1 form,
.profile-item-2,
.profile-item-4 {
    display: flex;
    align-items: center;
}

.profile-item-2 > *,
.profile-item-4 > * {
    margin-right: 3rem;
}

.profile-item-2 .show-profile:hover,
.profile-item-3 .show-profile:hover,
.trending .button:hover {
    outline: 1px solid var(--highlight-background-color);
    border-radius: 64px;
}

.profile-item-2 .show-profile:active,
.profile-item-3 .show-profile:active,
.trending .button:active {
    outline: 2px solid var(--highlight-background-color);
    border-radius: 64px;
}

.button.show-profile img,   
.button.trending img {
    border-radius: 50%;
}

.menu .button:hover,
.user-profile .profile-item-4 .button:hover {
    color: #a5e0ff;
}

.menu .button:active,
.user-profile .profile-item-4 .button:active {
    color: rgb(48, 48, 255);
}

.menu > div:first-child {
    display: flex;
    align-items: center;
}

.menu > div:first-child img {
    width: calc(var(--icon-size) * 2);
    height: calc(var(--icon-size) * 2);
    filter: invert(100%);
}

.menu div:first-child > * {
    padding-left: 1.2rem;
}

.menu .button {
    background-color: inherit;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}

.menu ul {
    margin-top: 70px;
}

.menu li {
    height: var(--icon-size);
    margin-top: 2.4rem;
    align-content: center;
    list-style: none;
}

.menu .button > div > * {
    padding-left: 2.4rem;
}

.menu .button img {
    width: var(--icon-size);
    height: var(--icon-size);
    filter: invert(100%);
}

.user-profile {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    align-content: center;
}

.profile-item {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-content: center;
}

.profile-item .button {
    background-color: inherit;
    font-weight: bold;
}

.profile-item .button .profile-text {
    color: black;
}

.profile-item-1 input {
    background-color: rgb(230, 230, 230);
    width: clamp(300px, 100%, 800px);
    height: 30px;
    border: none;
    border-radius: 32px;
    margin-left: 2rem;
    padding-left: 2rem;
    outline: none;
}

.profile-item-1 .search {
    width: var(--icon-size);
    height: var(--icon-size);
}

.profile-item-2 .button.notifications {
    width: var(--icon-size);
    height: var(--icon-size);
}

.profile-item-2 {
    justify-content: end;
}

.profile-item-2 .button {
    height: var(--profile-icon-size);
    font-size: 1.8rem;
}

.profile-item-2 .show-profile {
    padding-right: 1.5rem;
}

.profile-item-2 .text-container {
    padding-left: 2.5rem;
}

.profile-item-3 .button {
    height: var(--profile-icon-size-big);
}

.profile-item-3 .show-profile {
    padding-right: 3rem;
}

.profile-item-3 p:last-of-type {
    font-size: 2.2rem;
}

.profile-item-3 .profile-text {
    line-height: 25px;
    color: black;
}

.profile-item-3 .text-container {
    padding-left: 1.6rem;
}

.profile-item-4 .button {
    background-color: #1992d4;
    width: 100px;
    height: 40px;
    border-radius: 32px;
    font-size: 1.6rem;
    color: white;
}

.projects.container {
    padding-bottom: var(--section-padding);
    display: grid;
    grid-template: repeat(auto-fill, minmax(var(--min-project-height), 1fr)) / repeat(auto-fill, minmax(360px, 1fr));
    gap: 30px 25px;
    box-sizing: border-box;
}

.projects > .project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(to right, #facc15, #facc15 8px, white 8px);
    min-height: var(--min-project-height);
    padding: 3.5rem;
}

.project .container.buttons {
    display: flex;
    justify-content: flex-end;
}

.project .button {
    width: var(--icon-size);
    height: var(--icon-size);
    margin-left: var(--icon-size);
    filter: invert(20%);
}

.project .favorite {
    background: url("./resources/star-plus-outline.svg") no-repeat;
}

.project .follow {
    background: url("./resources/eye-plus-outline.svg") no-repeat;
}

.project .fork {
    background: url("./resources/source-fork.svg") no-repeat;
}

.announcements.container {
    background-color: white;
    padding: 2.5rem;
}

.announcement {
    padding: 0.5rem;
}

.announcement h3 {
    font-size: 1.4rem;
}

.announcement p {
    height: 3lh;
    font-size: 1.2rem;
    overflow: hidden;
}

.announcement + .announcement {
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.section.trendings {
    margin-top: 0.8rem;
}

.trendings.container {
    background-color: white;
    padding: 2rem;
}

.trending + .trending {
    margin-top: 2rem;
}

.trending.button {
    background-color: inherit;
    width: 100%;
    height: calc(var(--profile-icon-size));
}

.trending.button div {
    width: 100%;
}

.trending.button > div > div {
    padding-left: 1.4rem;
}

.trending p:first-of-type {
    color: black;
}